<div class="box">
     <div class="box-inner">
<%= form_with model: @introduction, local: true do |f|%>
<h1>プロフィール投稿</h1>
  <div class="field">
    <%= f.label :skill, "ご自身のスキルを記載してください" %><br />
    <%= f.text_field :skill, class: :title %>
  </div>

  <div class="field">
    <%= f.label :description, "コメントを記載してください" %><br />
    <%= f.text_area :description, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :twitter_id, "連絡用のTwetterアカウントを記載してください" %><br />
    <%= f.text_field :twitter_id, class: :title %> 
  </div>

  <div class="field">
    <%= f.label :image, "プロフィール画像を載せてください" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "投稿", class: :form__btn  %>
  </div>
<% end %>
 </div> 
 </div>