<%# トップページ %>
 <%# 風船の画像 %>
<div class="top_image">
 <%= image_tag "photo-1604080907141-8476a60708dc.jpeg",  class:"main_image" %>
 <h2 class='service-title'>
   <%='演者を支援・紹介する'%>
 </h2>
  <h2 class='service-explain'>
   <%="Matching Service！"%>
  </h2>
</div>
<%# /風船の画像 %>
<%# パフォーマーの絵が3つ並ぶ画像 %>
<div class="performers_view">
 <%="PERFORMERS"%>
</div>
<div class="performers_image">
 <%= image_tag "Magic trick-rafiki.png", :size =>'320x480',  class:"performer_image" %>
 <%= image_tag "Balloons-amico.png", :size =>'320x480',  class:"performer_image" %>
 <%= image_tag "Create-pana.png", :size =>'320x480',  class:"performer_image" %>
</div>
<%# /パフォーマーの絵が3つ並ぶ画像 %>
<div class= "service_features_one">
 <p>パフォーマーは こちら→ <span class="under"><%= link_to "新規登録", new_performer_registration_path %></span> or
 <span class="under"><%= link_to "ログイン", new_performer_session_path %></span>してプロフィールを投稿しよう！</p>
</div>
<div class= "service_features_one">
 <p>依頼者は こちら→ <span class="under"><%= link_to "新規登録", new_performer_registration_path %></span> or
 <span class="under"><%= link_to "ログイン", new_performer_session_path %></span>してパフォーマーと繋がろう！</p>
</div>
<%# EVENT CONNECT の特徴 %>
<div class= "service_features">
  EVENT  CONNECT  の特徴 について
</div>
<div class="service">
  <ul>
   <%= image_tag "cytonn-photography-n95VMLxqM2I-unsplash.jpg",  class:"servise_image_one" %>
   <li class="service_comment_one">1.  繋がる</li>
   <li class="service_comment">リンク先のツィッターアカウント</li>
   <li class="service_comment">から繋がれます。</li>
   <li class="service_comment">気になる人をお気に入りに</li>
   <li class="service_comment">登録しよう！</li>
   <li class="service_comment">＊アカウント確認にはログインが必要です。</li>
  </ul>
  <ul>
   <%= image_tag "sofiya-levchenko-l6yLVM-FJxc-unsplash.jpg",  class:"servise_image_two" %>
   <li class="service_comment_one">2. コメント投稿機能</li>
   <li class="service_comment">プロフィール画像のリンクから</li>
   <li class="service_comment">コメントが投稿できます。</li>
   <li class="service_comment">気になるパフォーマーに</li>
   <li class="service_comment">質問してみよう！</li>
  </ul>
  <ul>
   <%= image_tag "benjamin-dada-EDZTb2SQ6j0-unsplash.jpg",  class:"servise_image_three" %>
   <li class="service_comment_one">3. 簡単検索</li>
   <li class="service_comment">イベント内容に合った</li>
   <li class="service_comment">パフォーマーを</li>
   <li class="service_comment">見つけよう！</li>
   <%# パフォーマー検索ボタン %>
   <%= search_form_for @q, url: introduction_genre_path do |f| %>
   <%= f.collection_select :genre_id_eq, Genre.where.not(id: 0), :id, :name %>
   <%= f.submit '検索' %>
   <% end %> 
   </div>
   <%# /パフォーマー検索ボタン %>
 </ul>
</div>
<%# /EVENT CONNECT の特徴 %>
<%# プロフィール一覧表示 %>
<div class="profile_list">
 プロフィール 一覧
</div>
<main class="main">
 <div class="inner">
    <div class="card__wrapper">
     <%= render partial: 'introduction', collection: @introductions %>
    </div>
 </div>
</main>
<%# /プロフィール一覧表示 %>



