<%# プロフィール詳細表示 %>
<main class="main">
  <div class="inner">
    <div class="introduction__wrapper">
      <p class="introduction__hedding">
         <%= @introduction.performer.nickname %> さん
      </p>
      <div class="introduction__image">
        <%= image_tag @introduction.image %> 
      </div>
      <%# プロフィール投稿をしている演者本人のみ表示 %>
      <% if current_performer == @introduction.performer%>
      <%= link_to " #{@introduction.performer.nickname}さんの登録情報確認", performer_path(@introduction.performer), class: :introduction__user %>
        <div class="introduction__manage">
          <%= link_to "編集する", edit_introduction_path(@introduction), method: :get, class: :introduction__btn %>
          <%= link_to "削除する", introduction_path(@introduction), method: :delete, class: :introduction__btn %>
        </div>
       <% end %>
       <%# /プロフィール投稿をしている演者本人のみ表示 %>
      <div class="introduction__body">
        <div class="introduction__detail">
          <p class="detail__title">コメント</p>
          <p class="detail__message">
          <%= @introduction.description %>
          </p>
        </div>
      </div>
       <%# ログインユーザーのみ表示 %>
        <% if performer_signed_in? %>
        <div class="introduction__body">
         <div class="introduction__detail">
           <p class="detail__title">ツィッターID</p>
            <div class="hidden_box">
             <label for="label1">クリックで表示</label>
             <input type="checkbox" id="label1"/>
               <div class="hidden_show">
                 <!--非表示ここから-->     
                 <%= @introduction.twitter_id %>
                 <!--ここまで-->
               </div>
           </div>
           </p>
          </div>
        </div>
        <%end%>
        <%# /ログインユーザーのみ表示 %>
      <div class="introduction__comments">
       <%# ログインユーザーのみ質問が可能 %>
        <% if performer_signed_in? %>
         <%= form_with model: [@introduction, @message], local: true do |f|%>
         <div class="field">
          <%= f.label :text, "質問フォーム" %><br />
          <%= f.text_field :text %>
      </div>
      <div class="actions">
        <%= f.submit "送信する", class: :form__btn  %>
      </div>
      <% end %> 
      <% end %>
       <ul class="comments_lists">
          <% @messages.each do |message| %>
            <li class="comments_list">
              <%= message.text%>
              <%= link_to "（#{message.performer.name}）さん",  class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
      <%# /ログインユーザーのみ質問が可能 %>
    </div>
  </div>
</main>
<%# プロフィール詳細表示 %>